:focus {
  outline: none;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}

body {
  font-family: var(--dm-sans-regular);
  font-size: 18px;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: var(--dark-red);
  margin-right: 100px;
  font-size: 2em;
  font-weight: normal;
}

h1:focus {
  border: none;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

h2 {
  font-weight: normal;
}

p:focus, div:focus {
  border: none;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

a {
  text-decoration: none;
}
