.nav-link {
  margin-left: 100px;
  padding: 0px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}

.nav-link:focus {
  margin-left: 100px;
  padding: 0px;
  animation: underline 0.3s ease-in-out both;
}

.logo {
  height: 50px;
  padding: 4px;
  margin: auto;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.photographer_section article a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: relative;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}

.photographer_section article a:hover,
.photographer_section article a:focus {
  animation: underline 0.3s ease-in-out both;
}

.photographer_section article h2 {
  color: var(--light-brown);
  font-size: 2em;
  margin-top: 8px;
  margin-bottom: 2px;
}

.portrait {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shadow {
  height: 210px;
  -webkit-mask-image: radial-gradient(
    circle 195px at center,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0),
    transparent
  );
  mask-image: radial-gradient(
    circle 195px at center,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0),
    transparent
  );
  position: absolute;
  z-index: -10;
  top: 10px;
}

.shadow img {
  transform: translateY(-200px);
}

.portrait img {
  text-align: center;
  scale: 0.075;

  border-radius: 50%;
}

.location {
  color: var(--dark-red);
  font-size: 0.722em;
  margin: 1px;
}

.tag {
  font-size: 0.556em;
  margin: 1px;
}

.price {
  color: var(--medium-grey);
  font-size: 0.5em;
  margin: 1px;
}

@media screen and (max-width: 992px) {
  .photographer_section article h2 {
    font-size: 1.3em;
  }
}

@keyframes underline {
  0% {
    border-bottom-color: transparent;
  }
  100% {
    border-bottom-color: var(--dark-red);
  }
}
