.logo {
    height: 50px;
    margin-left: 100px;
  }
  
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
  }
  
.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
.photographer_section article h2 {
    color: var(--light-brown);
    font-size: 2em;
  }
  
.photographer_section article img {
    height: 200px;
    width: 200px;
  }