.lightbox_modal {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  width: 100%;
  height: 100%;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  padding: 10px;
  background-color: white;
  position: absolute;
}

.slides-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.slide {
  width: 100%;
  flex-direction: column;
}

.slide img {
  max-width: 100%;
  max-height: 880px;
}

.slide video {
  max-width: 100%;
}

.slide h2 {
  font-size: 1.333em;
  color: var(--dark-red);
  margin-top: 10px;
}

.chevron-left {
  color: var(--dark-red);
  font-size: 3em;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: transparent;
  height: 1em;
  margin: 10px;
}

.chevron-right {
  color: var(--dark-red);
  font-size: 3em;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: transparent;
  height: 1em;
  margin: 10px;
}

.close-lightbox {
  font-size: 3em;
  position: absolute;
  color: var(--dark-red);
  top: 20px;
  right: 20px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: transparent;
  height: 1em;
}

.close-lightbox:focus,
.chevron-right:focus,
.chevron-left:focus {
  border-color: var(--dark-red);
}
