.modal {
  display: none;
  background-color: var(--modal-bg);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.photograph-header {
  background-color: var(--light-grey);
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photograph-header h1 {
  font-size: 3.556em;
  color: var(--light-brown);
  margin: 0;
}

.artist-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
}

.artist-info .location {
  font-size: 1.333em;
}

.artist-info .tag {
  font-size: 1em;
  color: var(--dark-grey);
}

.select_shadow {
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.galery {
  margin: 0 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 8%;
}

.artist-media img,
.artist-media video {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1.15;
  border-radius: 5px;
}

.artist-media {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: transparent;
}

.artist-media:focus {
  border-color: var(--dark-red);
}

.media-info {
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  font-size: 1em;
  font-family: var(--dm-sans-regular);
}

.media-info h2 {
  font-size: 1.333em;
  color: var(--dark-red);
  margin: 0;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: transparent;
}

.media-info .likes {
  padding-right: 30px;
  font-family: var(--dm-sans-medium);
  color: var(--dark-red);
  margin: 0;
}

.media-info .heart {
  position: absolute;
  right: 0px;
  color: var(--dark-red);
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: transparent;
}

.heart_full {
  -webkit-text-fill-color: var(--light-brown);
  -moz-text-fill-color: var(--light-brown);
}

.media-info .heart:focus {
  border-color: var(--dark-red);
}

button {
  font-size: 1.111em;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--dark-red);
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover,
.contact_button:focus {
  border: none;
  animation: contact 0.3s ease-in-out both;
}

.artist-level {
  font-family: var(--dm-sans-medium);
  font-size: 1.333em;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--salmon);
  width: 375px;
}

.artist-level .fa-heart {
  padding-left: 10px;
}

.show {
  display: flex;
}

.mask {
  display: none !important;
}

@keyframes contact {
  0% {
    color: white;
    background-color: var(--dark-red);
  }
  100% {
    color: black;
    background-color: var(--salmon);
  }
}
