.contact_modal {
  display: none;
  background-color: var(--modal-bg);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.photograph-header {
  background-color: var(--light-grey);
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photograph-header h2 {
  font-size: 3.556em;
  color: var(--light-brown);
  margin: 0;
}

.artist-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
}

.artist-info .location {
  font-size: 1.333em;
}

.artist-info .tag {
  font-size: 1em;
  color: var(--dark-grey)
}

.galery {
  margin: 100px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.artist-media {
  width: 100%;
}

.artist-media img{
  object-fit: cover;
  width: 100%;
  height: 300px;

}

.media-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: var(--dark-red);
  font-size: 1em;
  font-family: var(--dm-sans-regular);
}

.media-info h2 {
  font-size: 1.333em;
}

.media-info .likes {
  padding-right: 30px;
  font-family: var(--dm-sans-medium);
}

.media-info .heart {
  position: absolute;
  right: 0px;
}


.contact_button {
  font-size: 1.111em;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--dark-red);
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: var(--salmon);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 3.556em;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: var(--dark-brown);
  font-size: 2em;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.show {
  display: flex;
}
