.sort-menu {
  margin: 20px 100px 70px;
  display: flex;
  position: relative;
}

.sort-menu .label {
  font-family: var(--dm-sans-bold);
  font-size: 1em;
}

.fa-chevron-down,
.fa-chevron-up {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: transparent;
}

.fa-chevron-down:focus,
.fa-chevron-up:focus {
  border-color: white;
}

.sort-menu .select {
  font-family: var(--dm-sans-bold);
  font-size: 1em;
  background-color: var(--dark-red);
  color: white;
  border-radius: 5px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 100px;
  top: -10px;
  width: 170px;
}

.sort-menu .select .option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--dm-sans-bold);
  font-size: 1em;
  color: white;
  border-top-style: solid;
  border-color: white;
  border-width: 1px;
  margin: 0 5px;
  padding: 12px 10px;
  padding-right: 5px;
}

.sort-menu .select :nth-child(1) {
  border: none;
}

.sort-menu .select .option p {
  padding: 0;
  margin: 0;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: transparent;
}

.sort-menu .select .option p:focus {
  transform: scale(1);
  border-color: white;
}
